body {
  transition: opacity 300ms;
  opacity: 0%;
  margin: 16px;
}

body.fontLoaded {
  opacity: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.fontLoaded h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.fontLoadFailed {
  opacity: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.children {
  display: flex;
}

.spacer {
  width: 150px;
  background-color: #d4ef86;
  border-radius: 25px;
  padding: 8px;
}

.edge {
  display: flex;
  align-items: center;
}

.child {
  margin: 4px;
  padding: 4px;
}

.value-header {
  background-color: #d4ef86;
  color: #111111;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
}

.type {
  color: #c4e1f7;
  background-color: #15bdf4;
}
.leaf {
  width: 200px;
  border: 4px #e80371 solid;
  border-radius: 25px;
  padding: 8px;
}

.leaf.numbered {
  border: 4px #1130ff solid;
}

.leaf.nft {
  border: 4px #111111 solid;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-left: 30px solid #d4ef86;
}

.bobalice {
  display: flex;
}

.alice {
  flex: 1;
  border: 4px #869def solid;
  border-radius: 25px;
  padding: 16px;
  margin: 16px;
  padding-top: 1px;
}

.bob {
  flex: 1;
  border: 4px #e80371 solid;
  border-radius: 25px;
  padding: 16px;
  margin: 16px;
  padding-top: 1px;
}

.name {
  font-weight: 700;
}

.label {
  font-weight: 700;
}

.error {
  color: red;
}

form {
  flex-direction: column;
  display: flex;
  width: 300px;
  border: 4px blue solid;
  border-radius: 25px;
  padding: 16px;
}

form * {
  width: 300px;
}

.version {
  padding: 8px;
  margin: 8px;
  border-radius: 25px;
  border: 4px blue solid;
}

button {
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  background-color: #1130ff;
  border-radius: 1000px;
  padding: 14px 30px 14px 30px;
  color: white;
  border: none;
  cursor: pointer;
}

button.secondary {
  background-color: transparent;
  color: #1130ff;
  border: 2px #1130ff solid;
}

.header {
  background-color: #111111;
  border-radius: 25px;
  color: white;
  padding: 25px;
  padding-top: 1px;
  max-width: 500px;
  margin: auto;
}

.content {
  max-width: 800px;
  margin: auto;
}
